@import "../reset.css";
@import "../components/header.css";

.mainContainer {
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;

}

.inputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 6.5rem;
  padding-left: 10%;
  padding-right: 10%;

}


.inputs {
  border: none;
  border-radius: 10px;
  height: 2.2rem;
  padding-left: 15px;
  width: 15vw;
  font-size: 1.4rem;
}

.cardsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.cardsContainer .cards:nth-child(n) {
  margin: 10px auto;
}

.cards {
  position: relative;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.poster {
  height: 30vh;
  cursor: pointer;
  border-radius: 10px;
  transform: scale(1);
  transition: 1s;
}

.poster:hover{
  transform: scale(1.1);
  transition: 1s;
}

.divTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  width: 100%;
}

.titleWithinCard {
  position: relative;
  font-size: 1.7rem;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

#calculoFilms{
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2%;
  width:60vw;
  text-align:center;
}


.modalContainer{
  background: rgba(6, 105, 94, 0);
   width: 100vw;
   height: 100vh;
   position: fixed;
   backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  z-index: 99;
  visibility: hidden;
  display: flex;
  transition: 0.5s;

}
.modal{
background: #034040;
text-align: start;
border-radius: 10px;
width: 50%;
height: 100%;
padding: 30px 60px;
transform: scale(0);
transition:  0.5s ease-in-out;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #B8D8C0;
gap: 10px;
position:relative;
}
.showModal{
  visibility: visible;
  background: rgba(6, 105, 94, 0.69);
  transition:  2s
}
.showModal .modal{
  transform: scale(1);
  transition:  2s cubic-bezier(0,1.53,0,.99);
}

.modal .closeModal{
  width: 7%;
  position:absolute;
  right: 10px;
  top: 0;
  transform: scale(0.8);
  transition:  1s
}
.modal .closeModal:hover{
  transform: scale(1);
  transition:  1s
}

.modal  h3, .modal p{

  font-size: 1.5rem;
  text-align: start;
  align-self: start;

}
.modal h3{

}
.modal .poster{
  flex-shrink: 0;
  width: 11rem;
  height: 15rem;
  border-radius: 10px;
  transform: scale(1); /* 100% */
  transition: 1s;
}

.modal .poster:hover{
  transform: scale(2) translateY(5rem); /* 200% */
  transition: 1s;
}


@media (max-width: 767px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mainContainer {
    min-height: 82vh;
    margin-left: 5% ;
  }
  .inputs {
    border: none;
    border-radius: 10px;
    height: 2.2rem;
    padding-left: 15px;
    width: 18vw;
    font-size: 1.4rem;
  }
  .modal{
    width: 70%;
   height: 100%;
   margin-left: 1%;
  }
  .modal p{

    font-size: 1.2rem;



  }
}
@media (max-width: 425px) {
 .mainContainer{
  margin-left: 5% ;
 }
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .inputs {
    border: none;
    border-radius: 10px;
    height: 2.2rem;
    padding-left: 15px;
    width: 30vw;
    font-size: 1.4rem;
  }
  .modal{
    width: 100%;
   height: 100%;
   margin-left: 10px;
   margin-right: 10px;
   overflow-y: scroll;
  }

  .modal .closeModal{
    width: 7%;
    position:absolute;
    right: 10%;
    top: 5px;
    z-index: 99;

  }
  .modal p{
    font-size: 1rem;
  }
  .inputContainer {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
   margin-left: 13%;



  }
}
