@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Amatic SC', cursive;
  box-sizing: border-box;
}
